body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}
.category-card {
    margin-bottom: 30px;
}
.category-card h5 {
    font-size: 1.25rem;
    color: #9A6B4D; 
}
.category-card p {
    color: #333; 
}
.category-feminino {
    background-image: url('../Assets/feminino.png');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.category-masculino {
    background-image: url('../Assets/masculino.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}